<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         testdox="true">
    <testsuites>
        <testsuite name="wp-cmf">
            <directory>./tests/Core</directory>
            <directory>./tests/CPT</directory>
            <directory>./tests/Field</directory>
            <directory>./tests/Settings</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <coverage>
        <report>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
</phpunit>
