name: Build Assets

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'src/assets/scss/**'
      - 'package.json'
      - 'package-lock.json'

permissions:
  contents: read

jobs:
  build:
    name: Build and Commit Assets
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Configure git user
        run: |
          git config user.name ${{ github.actor }}
          git config user.email ${{ github.actor }}@users.noreply.github.com

      - name: Check if remote branch exists
        run: echo "REMOTE_BRANCH_EXISTS=$([[ -z $(git ls-remote --heads origin build-assets) ]] && echo "0" || echo "1")" >> $GITHUB_ENV

      - name: Create branch to base pull request on
        if: env.REMOTE_BRANCH_EXISTS == 0
        run: git checkout -b build-assets

      - name: Fetch existing branch to add commits to
        if: env.REMOTE_BRANCH_EXISTS == 1
        run: |
          git fetch --all --prune
          git checkout build-assets
          git pull --no-rebase

      - name: Check if there are changes
        run: echo "CHANGES_DETECTED=$([[ -z $(git status --porcelain) ]] && echo "0" || echo "1")" >> $GITHUB_ENV

      - name: Commit changes
        if: env.CHANGES_DETECTED == 1
        run: |
          git add src/assets/css/
          git commit -m "Build assets - $(date +'%Y-%m-%d %H:%M')"
          git push origin build-assets

      - name: Create pull request
        if: env.CHANGES_DETECTED == 1 && env.REMOTE_BRANCH_EXISTS == 0
        run: gh pr create --base main --head build-assets --title "Build assets - $(date +'%Y-%m-%d')" --body "Automated PR to update compiled CSS assets"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
